<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145887765241-m2umrrm740oq3l9tt42hbqdun75vrmnm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145887765241-m2umrrm740oq3l9tt42hbqdun75vrmnm</string>
	<key>API_KEY</key>
	<string>AIzaSyAsn6kP9TukjAop31cUWDzvslYggVjpn9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>145887765241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizapp</string>
	<key>PROJECT_ID</key>
	<string>quiz-app-15409</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-app-15409.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145887765241:ios:3d08160c5532ffc2d2f828</string>
</dict>
</plist>